body {
  line-height: 1rem;
  background-color: rgb(40, 40, 40);
  color: white;
  word-wrap: break-word;
}

.theme-dark-1 {
  color: white;
  background-color: #343a40;
}

.component-outer{
  padding: .75rem 1.25rem;
  border-radius: .25rem;
  margin-top: 1rem;
}
