/* Typer text */
.typer-text{
  display: inline-block;
  outline: 0;
  padding-left: 5px;
  vertical-align: middle;
}

.typer-text br {
  display: none;
}

.typer-text-wrong{
  text-decoration: line-through;
  color: darkred;
}

.typer-text-untyped{
  color: grey;
}

.typer-text-correct{
  color: inherit;
}

.typer-text-untouched{
  padding-left: 0px;
}

.typer-input-container{
  white-space: nowrap;
}

.typer-text-container{
  display: inline-block;
  font-family: monospace;
  font-size: 2em;
  line-height: 1em;
}

/* Typer */
.typer-container{
    border: solid 1px black;
}

/* Typer stats */
.typer-stats-container{
    display: inline-block;
}
